VITE_MOONSHOT_API_KEY=your_moonshot_api_key_here
VITE_HYGRAPH_CONTENT_API=https://eu-west-2.cdn.hygraph.com/content/YOUR_PROJECT_ID/master
VITE_HYGRAPH_MANAGEMENT_API=https://management-eu-west-2.hygraph.com/graphql
VITE_HYGRAPH_PAT=your_hygraph_pat_here
